@model EmployeeViewModel
@using Bumbodium.Data.DBModels

<h1>Werknemer aanpassen</h1>
<h4>Vakken met * zijn verplicht</h4>
<div class="row">
    <div class="col-md-4">
        <form action="/Employee/Edit" method="post">
            <input hidden asp-for="Employee.EmployeeID" value=@Model.Employee.EmployeeID />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.Email">Email *</label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Password">Nieuw wachtwoord</label>
                <input asp-for="Password" class="form-control" value="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="ConfirmPassword">Nieuw wachtwoord bevestigen</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.FirstName">Voornaam *</label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.MiddleName">Tussenvoegsel</label>
                <input asp-for="Employee.MiddleName" class="form-control" />
                <span asp-validation-for="Employee.MiddleName" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.LastName">Achternaam *</label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.Birthdate">Geboortedatum *</label>
                <input asp-for="Employee.Birthdate" type="date" class="form-control" />
                <span asp-validation-for="Employee.Birthdate" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.PhoneNumber">Telefoonnummer *</label>
                <input asp-for="Employee.PhoneNumber" class="form-control" />
                <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.DateInService">Werkt sinds *</label>
                <input asp-for="Employee.DateInService" type="date" class="form-control" />
                <span asp-validation-for="Employee.DateInService" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Employee.DateOutService">Inactief sinds</label>
                <input asp-for="Employee.DateOutService" type="date" class="form-control" />
                <span asp-validation-for="Employee.DateOutService" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Employee.Type">Type *</label>
                <br />
                @if (User.Identity.Name != Model.Employee.Email)
                {
                    @foreach (TypeStaff type in Enum.GetValues(typeof(TypeStaff)))
                    {
                        @Html.RadioButtonFor(vm => vm.Employee.Type, type)
                        <label>@type.ToString()</label>
                        <br />
                    }
                }
                else
                {
                    <p>Het type van de gebruiker kan niet door de gebruiker zelf worden aangepast</p>
                }
            </div>
            <br />
            <div>
                <label>Afdelingen *</label>
                <br />
                @foreach (DepartmentType department in Enum.GetValues(typeof(DepartmentType)))
                {
                    @* Checks if employee is already part of the department of the checkbox, if true, checkbox is checked *@
                    @if (Model.Employee.PartOFDepartment.Any(pod => pod.DepartmentId == (int)department + 1))
                    {
                        <input type="checkbox" name="Departments" value="@((int)department + 1)" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="Departments" value="@((int)department + 1)" />
                    }
                    <label>@department.ToString()</label>
                    <br />
                }
                <span asp-validation-for="Departments" class="text-danger"></span>
            </div>

            <br />
            <button type="submit" class="btn btn-lg btn-primary btn-outline-warning">Aanpassen</button>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }