@model Bumbodium.WebApp.Models.ClockingView.ClockingViewModel
@using System.Globalization;
<br />

@{
    string calanderVal = Model.YearNumber + "-W";
    if (Model.WeekNumber < 10)
        calanderVal += "0" + Model.WeekNumber;
    else
        calanderVal += Model.WeekNumber;
}
@using (Html.BeginForm("SelectWeek", "ClockingEmployee", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.EmployeeId" />
    <input type="week" name="weekNumber" value="@calanderVal" onchange="this.form.submit()"  required />
}
<br />

<div class="row">
    <div class="col" style="padding: 5px;"><strong>Kloktijden</strong></div>
    <div class="col" style="padding: 5px;"><strong>Roostertijden</strong></div>
</div>

@for (int i = 0; i < Model.ClockingDays.Count; i++)
{
    <div class="row" style="background-color:cornflowerblue; color: white; padding: 15px; ">
        <div class="row m-auto">
            <div class="bg-light text-dark rounded-2 mb-3 p-1">
                <p class="mb-1 pb-0 bold">@Model.ClockingDays[i].Day.ToString("dd/MM/yyyy")</p>
            </div>

            @for (var j = 0; j < Model.ClockingDays[i].EmployeeClocking.Count; j++)
            {
                <input type="hidden" id="day" name="day" value="@Model.ClockingDays[i].Day.ToString("dd/MM/yyyy")" />
                <div class="bg-light mb-2 text-dark rounded-1">
                    <div class="row">
                        <div class="col justify-content-md-start">
                            <div class="col">@Model.ClockingDays[i].EmployeeClocking[j].ClockStartTime.GetValueOrDefault().TimeOfDay</div>
                            @if (Model.ClockingDays[i].EmployeeClocking[j].IsChanged)
                            {
                                <p>tijd is aangepast</p>
                                
                            }
                            else if (Model.ClockingDays[i].EmployeeClocking[j].IsOnGoing)
                            {
                                <p>je Bent nog bezig</p>
                            }
                        </div>
                        <div class="col"></div>
                        <div class="col">@Model.ClockingDays[i].EmployeeClocking[j].ScheduleStartTime.GetValueOrDefault().TimeOfDay</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="col">@Model.ClockingDays[i].EmployeeClocking[j].ClockEndTime.GetValueOrDefault().TimeOfDay</div>
                            @if (@Model.ClockingDays[i].EmployeeClocking[j].IsChanged)
                            {
                                <p>tijd is aangepast</p>
                                
                            }
                        </div>
                        <div class="col"></div>
                        <div class="col">@Model.ClockingDays[i].EmployeeClocking[j].ScheduleEndTime.GetValueOrDefault().TimeOfDay</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
}
@if (Model.ClockingDays.Count == 0)
{
    <h1>Je hebt deze week geen uren gemaakt</h1>
}