@model Bumbodium.WebApp.Models.ForecastWeekViewModel

<h2>Prognose</h2>

<form asp-action="Create" method="post">
    <div class="row">
        @for (var i = 0; i < Model.DaysOfTheWeek.Length; i++)
        {
            <div class="col-5" >   
                <div class="col-form-label-lg">
                    <label asp-for="@Model.DaysOfTheWeek[i].Date"></label>
                    <input asp-for="@Model.DaysOfTheWeek[i].Date" placeholder="Date" type="date" class="form-control" />
                    <span asp-validation-for="@Model.DaysOfTheWeek[i].Date" class="text-danger"></span>
                </div>
                <div class="col-form-label-lg">
                    <label asp-for="@Model.DaysOfTheWeek[i].AmountExpectedColis"></label>
                    <input asp-for="@Model.DaysOfTheWeek[i].AmountExpectedColis" placeholder="AmountExpectedColis" class="form-control" />
                    <span asp-validation-for="@Model.DaysOfTheWeek[i].AmountExpectedColis" class="text-danger"></span>
                </div>
                <div class="col-form-label-lg">
                    <label asp-for="@Model.DaysOfTheWeek[i].AmountExpectedCustomers"></label>
                    <input asp-for="@Model.DaysOfTheWeek[i].AmountExpectedCustomers" placeholder="AmountExpectedCustomers" class="form-control" />
                    <span asp-validation-for="@Model.DaysOfTheWeek[i].AmountExpectedCustomers" class="text-danger"></span>
                </div>
                <hr />
            </div>
        }
    </div>
    <input type="submit" class="btn" />
</form>
