@model Bumbodium.WebApp.Models.ForecastWeekViewModel

<div class="container-fluid">
    <div class="col-md-4 p-3">
        <h2>Prognose</h2>
        <form asp-action="CreateNewForcast" class="col-md-4 p-3">

            @for (var i = 0; i < Model.DaysOfTheWeek.Length; i++)
            {
                <label asp-for="@Model.DaysOfTheWeek[i].Date"></label>
                <input asp-for="@Model.DaysOfTheWeek[i].Date" placeholder="Date" />
                <label asp-for="@Model.DaysOfTheWeek[i].AmountExpectedColis"></label>
                <input asp-for="@Model.DaysOfTheWeek[i].AmountExpectedColis" placeholder="AmountExpectedColis" />
                <label asp-for="@Model.DaysOfTheWeek[i].AmountExpectedCustomers"></label>
                <input asp-for="@Model.DaysOfTheWeek[i].AmountExpectedCustomers" placeholder="AmountExpectedCustomers" />
            }
            <input type="submit" class="btn" />
        </form>
    </div>
</div>
