@model Bumbodium.WebApp.Models.ForecastWeekViewModel
@{
    string calanderVal = 2023 + "-W" + 1;
}

<h2>Prognose</h2>

<form asp-action="CreateNewForcast">
    <div class="col-form-label-lg">
        <label asp-for="@Model.DepartmentId" class="control-label">Afdeling</label>
        <select asp-for="DepartmentId" asp-items="Html.GetEnumSelectList<Bumbodium.Data.DBModels.DepartmentType>()" class="form-control">
            <option selected="selected" value="">Please select</option>
        </select>
    </div>
    <div class="row">
        @for (var i = 0; i < Model.DaysOfTheWeek.Length; i++)
        {
            <div class="col-5" >   
                <div class="col-form-label-lg">
                    <label asp-for="@Model.DaysOfTheWeek[i].Date"></label>
                    <input asp-for="@Model.DaysOfTheWeek[i].Date" placeholder="Date" class="form-control" />
                </div>
                <div class="col-form-label-lg">
                    <label asp-for="@Model.DaysOfTheWeek[i].AmountExpectedColis"></label>
                    <input asp-for="@Model.DaysOfTheWeek[i].AmountExpectedColis" placeholder="AmountExpectedColis" class="form-control" />
                </div>
                <div class="col-form-label-lg">
                    <label asp-for="@Model.DaysOfTheWeek[i].AmountExpectedCustomers"></label>
                    <input asp-for="@Model.DaysOfTheWeek[i].AmountExpectedCustomers" placeholder="AmountExpectedCustomers" class="form-control" />
                </div>
                <hr />
            </div>
        }
    </div>
    <input type="submit" class="btn" />
</form>
