@using System.Globalization;
@model ForecastWeek

@{
    string calanderVal = Model.Days[0].Date.Year + "-W" + Model.WeekNr;
}

<h1>Prognose</h1>

<form>
    <input type="week" name="week" id="camp-week" value="@calanderVal" required>

    <table class="table table-striped text-center table-responsive">
        <thead>
            <tr>
                <th class="row-cols-md-4"/>
                @for (int i = 0; i < Model.Days.Count; i++)
                {
                    <th class="row-cols-md-4">@Model.Days[i].Date.ToString("dddd", new CultureInfo("nl-NL"))<br />@Model.Days[i].Date.ToString("dd-MM")</th>
                }
            </tr>
        </thead>
        <tbody class="">
            <tr>
                <td>
                    <i title="Benodigd Personeel" class="material-icons">groups</i>
                </td>
                @for (int i = 0; i < Model.Days.Count; i++)
                {
                    <td class="row-cols-md-1">
                        <input class="forecast-textbox" type="text" name="AmountEmployees" value="@Model.Days[i].AmountEmployees">
                    </td>
                }
            </tr>
            <tr>
                <td>
                    <i title="Aantal Uren" class="material-icons">event</i>
                </td>
                @for (int i = 0; i < Model.Days.Count; i++)
                {
                    <td class="row-cols-md-1">
                        <input class="forecast-textbox" type="text" name="AmountHours" value="@Model.Days[i].AmountHours">
                    </td>
                }
            </tr>
            <tr>
                <td>
                    <i title="Verwacht Aantal Klanten" class="material-icons">shopping_basket</i>
                </td>
                @for (int i = 0; i < Model.Days.Count; i++)
                {
                    <td class="row-cols-md-1">
                        <input class="forecast-textbox" type="text" name="AmountCustommers" value="@Model.Days[i].AmountCustommers">
                    </td>
                }
            </tr>
            <tr>
                <td>
                    <i title="Verwacht Aantal Tolleys" class="material-icons">trolley</i>
                </td>
                @for (int i = 0; i < Model.Days.Count; i++)
                {
                    <td class="row-cols-md-1">
                        <input class="forecast-textbox" type="text" name="AmountColis" value="@Model.Days[i].AmountColis">
                    </td>
                }
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary text-dark" asp-area="" asp-controller="Standard" asp-action="Index"><span class="inline-icon material-icons"> info</span>Normering</a>
</form>