@model ForecastViewModel

<h1>Prognose</h1>
<hr>

@{

    string calanderVal = Model.StartOfWeekDate.Year + "-W";
    if (Model.WeekNr < 10)
        calanderVal += "0" + Model.WeekNr;
    else
        calanderVal += Model.WeekNr;
}
@using (Html.BeginForm("SelectWeek", "Forecast", FormMethod.Post))
{
    <input type="week" name="weekNumber" value="@calanderVal" onchange="this.form.submit()" required />
}

<br />
<div class="container justify-content-center">
    <div class="row shadow-lg">
        <div class="col-sm-3 p-0 bg-white">
            <ul class="list-group-flush p-0">
                <li class="list-group-item bg-black text-black"> - </li>
                <li class="list-group-item mb-1">Verwachte klanten</li>
                <li class="list-group-item mb-3">Verwachte colis</li>
                <li class="list-group-item mb-1">Totaal verwachte medewerkers</li>
                <li class="list-group-item mb-1">Totaal verwachte uren</li>
            </ul>
        </div>
        @foreach (var forecastDay in Model.ForecastWeek)
        {
            <div class="col text-center p-0 bg-light ">
                <ul class="list-group-flush p-0">
                    <li class="list-group-item bg-black text-light">@forecastDay.Key.ToString("dd/MM")</li>
                    <li class="list-group-item mb-1">@forecastDay.Value.AmountExpectedCustomers</li>
                    <li class="list-group-item mb-3">@forecastDay.Value.AmountExpectedColis</li>
                    <li class="list-group-item mb-1">@Model.CountTotaalEmplyeesPerDay(forecastDay.Key)</li>
                    <li class="list-group-item mb-1">@Model.CountTotaalHoursPerDay(forecastDay.Key)</li>
                </ul>
            </div>
        }
        <br />
    </div>
    <br />
    <div class="row pb-5">
        <div class="col text-center p-0 ">
            @if (!Model.WeekBeforeNow)
            {
                <a asp-action="ChangeInput" class="btn btn-lg btn-primary btn-outline-warning" asp-route-id="@calanderVal">Verander de prognose dag</a>
            }
            else
            {
                <p class="btn btn-lg btn-outline-secondary">Verander de prognose dag</p>
            }
        </div>
        <div class="col text-center p-0">
            @if (!Model.WeekBeforeNow)
            {
                <a asp-action="ChangeOutput" class="btn btn-lg btn-primary btn-outline-warning" asp-route-id="@calanderVal">Veranderen de uitkomst velden</a>
            }
            else
            {
                <p class="btn btn-lg btn-outline-secondary">Veranderen de uitkomst velden</p>
            }
        </div>
    </div>
</div>
<a asp-controller="Standard" asp-action="Index" class="btn btn-lg btn-primary btn-outline-info">Normering bekijken.</a>
