@model ClockingViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <div class="col" style="padding: 5px;">Gebruiker: @User.Identity.Name</div>
</div>

<br />

<div class="row">
    <div class="col" style="padding: 5px;">Week: @Model.WeekNumber</div>
</div>

<br />

<div class="row">
    <div class="col" style="padding: 5px;"><strong>Kloktijden</strong></div>
    <div class="col" style="padding: 5px;"><strong>Roostertijden</strong></div>
</div>

@foreach (var day in Model.ClockingDays)
{

    <div class="row" style="background-color:cornflowerblue; color: white; padding: 15px;">
        @foreach (var shift in day.ClockingItems)
        {

            <div class="row">
                <div class="col">
                    @if (shift.IsChanged)
                    {
                        @shift.ClockStartTime

                        <i class="fa fa-user-o" aria-hidden="true" style="padding-left: 5px"></i>
                    }
                    else if (shift.IsOnGoing)
                    {
                        @shift.ClockStartTime

                        <i class="fa fa-clock-o" aria-hidden="true" style="padding-left: 5px"></i>
                    }
                    else
                    {
                        @shift.ClockStartTime
                    }

                </div>
                <div class="col">@shift.ScheduleStartTime</div>
            </div>
            <div class="row">
                <div class="col">
                    @if (shift.IsChanged)
                    {
                        @shift.ClockEndTime

                        <i class="fa fa-user-o" aria-hidden="true" style="padding-left: 5px"></i>
                    }
                    else
                    {
                        @shift.ClockEndTime
                    }

                </div>
                <div class="col">@shift.ScheduleEndTime</div>
            </div>

        }
    </div>
    <br />

}






