@model Bumbodium.WebApp.Models.ClockingView.ClockingViewModel


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <div class="col" style="padding: 5px;">Gebruiker: @Model.EmployeeName</div>
</div>

<br />

<div class="row">
    <div class="col" style="padding: 5px;">Year: @Model.YearNumber Week: @Model.WeekNumber</div>
</div>

<br />


<div class="row">
    <div class="col" style="padding: 5px;"><strong>Kloktijden</strong></div>
    <div class="col" style="padding: 5px;"><strong>Roostertijden</strong></div>
</div>

<form asp-action="SaveNewTimes" method="post">
    <input type="hidden" id="employeeId" name="employeeId" value="@Model.EmployeeId" />
    @for (int i = 0; i < Model.ClockingDays.Count; i++)
    {
        <div class="row" style="background-color:cornflowerblue; color: white; padding: 15px;">
            <div class="row">
                <div class="bg-light text-dark rounded-2 mb-1 p-1">
                    <p class="mb-0 p-0 bold">@Model.ClockingDays[i].Day.ToString("dd/MM/yyyy")</p>
                </div>

                @for (var j = 0; j < Model.ClockingDays[i].ManagerClocking.Count; j++)
                {
                    <input type="hidden" id="day" name="day" value="@Model.ClockingDays[i].Day.ToString("dd/MM/yyyy")" />
                    <div class="row">
                        <div class="col justify-content-md-start">
                            <input type="hidden" id="timestart" name="timestart"
                           value="@Model.ClockingDays[i].ManagerClocking[j].ClockStartTime.GetValueOrDefault().TimeOfDay">

                            <input type="time" id="alterdtimestart" name="alterdtimestart"
                           class="form-control-plaintext accordion-button" value="@Model.ClockingDays[i].ManagerClocking[j].ClockStartTime.GetValueOrDefault().TimeOfDay">
                        </div>
                        <div class="col"></div>
                        <div class="col">@Model.ClockingDays[i].ManagerClocking[j].ScheduleStartTime.GetValueOrDefault().TimeOfDay</div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <input type="hidden" id="timeend" name="timeend" value="@Model.ClockingDays[i].ManagerClocking[j].ClockEndTime.GetValueOrDefault().TimeOfDay">
                            <input type="time" id="alterdtimeend" name="alterdtimeend" class="form-control-plaintext accordion-button" value="@Model.ClockingDays[i].ManagerClocking[j].ClockEndTime.GetValueOrDefault().TimeOfDay">
                        </div>
                        <div class="col"></div>
                        <div class="col">@Model.ClockingDays[i].ManagerClocking[j].ScheduleEndTime.GetValueOrDefault().TimeOfDay</div>
                    </div>

                }
            </div>
        </div>
        <br />
    }
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-lg btn-primary btn-outline-warning" />
    </div>
</form>