@model ClockingViewModel

<div class="row">
    <div class="col">Gijs van der Velden</div>
</div>

<br />

<div class="row">
    <div class="col">Week: @Model.WeekNumber</div>
</div>

<br />

<div class="row">
    <div class="col"><strong>Kloktijden</strong></div>
    <div class="col"><strong>Roostertijden</strong></div>
</div>

@foreach (var day in Model.ClockingDays)
{

    <div class="row">
        @foreach (var shift in day.ClockingItems)
        {

            <div class="row">
                <div class="col">@shift.ClockStartTime</div>
                <div class="col">@shift.ScheduleStartTime</div>
            </div>
            <div class="row">
                <div class="col">@shift.ClockEndTime</div>
                <div class="col">@shift.ScheduleEndTime</div>
            </div>
 
        }
    </div>
    <br />

}






