@model ClockingViewModel

<div class="row">
    <div class="col">Gijs van der Velden</div>
</div>

<br />

<div class="row">
    <div class="col">Week: @Model.WeekNumber</div>
</div>

<br />

<div class="row">
    <div class="col"><strong>Kloktijden</strong></div>
    <div class="col"><strong>Roostertijden</strong></div>
</div>
@foreach (var item in Model.ClockingItems)
{

    <div class="row">
        <div class="col">@item.ClockStartTime</div>
        <div class="col">@item.ScheduleStartTime</div>
    </div>
    <div class="row">
        <div class="col">@item.ClockEndTime</div>
        <div class="col">@item.ScheduleEndTime</div>
    </div>

    <br />

}


